# Xcode
#
.DS_Store
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
build/
DerivedData/

# User-specific files
*.xcuserdatad
*.xcuserstate
*.moved-aside
*.xccheckout
*.hmap
*.ipa

# Swift Package Manager
.build/
